body {
  background: #f8ffe5;
}
.perspective {
  perspective: 152em;
  perspective-origin: 50% 100px;
  width: 988px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
input {
  display: none;
}
.tab {
  position: absolute;
  width: 160px;
  height: 140px;
  background: pink;
  right: 0;
  font-size: large;
  line-height: 140px;
  font-weight: 400;
  cursor: pointer;

  &:nth-child(1) {
    top: -10px;
    background: #06d6a0;
  }
  &:nth-child(2) {
    top: 138px;
    background: #1b9aaa;
  }
  &:nth-child(3) {
    top: 286px;
    background: #ef476f;
  }
}

.cube {
  position: relative;
  margin: 120px auto 0;
  width: 600px;
  height: 400px;
  transform-origin: 0 200px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
}
.tab-content {
  width: 600px;
  height: 400px;
  position: absolute;

  h1 {
    font-size: 25px;
    margin: 150px 0 10px;
    font-weight: 100;
  }
  h2 {
    font-size: 32px;
    margin: 150px 0 10px;
    margin-bottom: 50px;
    font-weight: 100;
  }
  p {
    font-size: 22px;
    color: black;
  }
  &:nth-child(2) {
    transform: translateZ(200px);
    background: #1b9aaa;
  }
  &:nth-child(1) {
    transform: rotateX(-270deg) translateY(-200px);
    transform-origin: top left;
    background: #06d6a0;
  }
  &:nth-child(3) {
    transform: rotateX(-90deg) translateY(200px);
    transform-origin: bottom center;
    background: #ef476f;
  }
}

#tab-top:checked ~ .cube {
  transform: rotateX(-90deg);
}
#tab-front:checked ~ .cube {
  transform: rotateX(0deg);
}
#tab-bottom:checked ~ .cube {
  transform: rotateX(90deg);
}
.button {
  background-color: #ef476f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #bb2e4f;
}

.stop-button {
  background-color: #1b9aaa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.stop-button:hover {
  background-color: #127380;
}

.form {
  display: inline;
}
